.wrapper

= render 'shared/side_bar'

.chat
  .header
    .left-header
      .left-header__title
        = @group.name     
      .left-header__members
        .member
          Member : 
          - @group.users.each do |group_user|
            = "#{group_user.name}"

    .right-header
      = link_to  "/groups/#{@group.id}/edit", method: :get , class: "right-header__button" do 
        Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .text_box
        = f.text_field :content, class: 'text_box__message', placeholder: 'type a message'
        = f.label :image, class: 'text_box__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'